.header {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 34px 141px 30px 152px;
  justify-items: end;
  position: sticky;
  top: 0;
}

.header__logo {
  width: 220px;
}

.header__links-list {
  list-style-type: none;
  display: flex;
  gap: 33px;
  font-size: 15px;
  line-height: 160%;
}

.header__links-list__button-link{
  border-radius: 14px;
  max-width: 155px;
  height: 46px;
  background: #1b1a1a;
  color: #fff;
  padding: 11px 21px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ECE7E4;
}

.cover__about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 77px 60px;
  padding: 60px 40px 39px;
}

.cover__logo {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #645c55;
}

.cover__title {
  font-size: 64px;
  line-height: 110%;
  color: #1b1a1a;
}

.main_text {
  font-size: 16px;
  line-height: 150%;
}

.cover__text {
  color: #403e3b;
}

.link_detailed {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  padding: 11px 20px;
  min-height: 46px;
}

.cover__link {
  margin: 10px 5px 0;
  color: #1b1a1a;
  width: 133px;
}

.cover__images {
  background-image: url(../images/cover.png);
  background-size: auto;
  background-repeat: no-repeat;
}

.our_firm {
  padding: 96px 337px 127px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 138px;
}

.section_title {
font-size: 32px;
line-height: 119%;
white-space: nowrap;
}

.our_firm_title{
color: #403e3b;
}

.our_firm__text {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.people_with_name {
  display: flex;
  align-items: center;
  gap: 28px;
}

.people_img {
  /*  border: 3px solid #cec4bc; */
  border-radius: 64px;
  width: 84px;
  height: 84px;
}

.people_name {
  font-size: 17px;
  color: #1b1a1a;
  line-height: 16px;
}

.people_profession{
  font-size: 14px;
  line-height: 100%;
  color: #645c55;
}

.our_firm__card {
  padding-top: 7px;
}

.photo_section {
  background-image: url(../images/background_1.png);
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 300px;
  min-height: 600px;
  position: relative;
}

.photo_section__text {
  position: absolute;
  top: 44.5%;    
  padding: 0 80px 0 1080px;
}

.photo_section__title {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #403e3b;
}

.photo_section__paragraph {
  font-size: 16px;
  line-height: 150%;
  color: #645c55;
}